{% extends "bootstrap/base.html" %}


{% block title %}My Flask App{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}



{% block navbar %}

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">My Flask App</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.user', name='Nick') }}">Nick's Profile</a></li>
                <li><a href="{{ url_for('main.users') }}">All users</a></li>
                <li><a href="{{ url_for('main.feedback') }}">Feedback</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

{% endblock %}