{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Home{% endblock %}


{% block page_content %}

    <h2>Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}
        {% else %}
            Stranger
        {% endif %}
    </h2>
<div>
    {% if current_user.can(Permission.WRITE) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>
    <a href="{{ url_for('.show_all') }}"
        class="btn btn-default">All</a>

    <a href="{{ url_for('.show_followed') }}"
        class="btn btn-default">Followed</a>

    {% include '_posts.html' %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}

    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}