{% extends "base.html" %}

{% block title %}Users List{% endblock %}

{% block page_content %}
    <h2>Users</h2>
    <table border="1" cellpading="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {% if user.role == 'admin' %}
                            <strong><a href="{{ url_for('main.user', username=user.username) }}">{{ user.name }}</a></strong>
                        {% else %}
                            <a href="{{ url_for('main.user', username=user.username) }}">{{ user.name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.role|capitalize }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% endblock %}